[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
django-bootstrap3 = "*"
pillow = "*"
django-heroku = "*"
whitenoise = "*"
python-decouple = "*"
cloudinary = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
