{%extends 'photos/base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block content%}

        <div class="container"  id="photos">
            <div class="images" >
                <img class="image" src="{{photo.image.url}}" alt="">
                <div>
                    <p ><strong>Category: </strong>  &nbsp;{{photo.category}}</p>
                    <p ><strong>Description: </strong>  &nbsp;{{photo.description}}</p>
                    <p ><strong>Location: </strong>  &nbsp;{{photo.location}}</p>
                    <div class="modal-footer justify-content-start" >
                        <label >image link</label>
                        <input class="form-control " type="text " value="https://jays-gallery.herokuapp.com{{photo.image.url}} " id="{{photo.id}}.url">
                    
                    </div>
                </div>
                
               
            </div>
        
        </div>
      
  
  
{% endblock%}
